GROQ_API_KEY= Add your GROQ API key
POSTGRES_URI=postgresql://username:password@localhost:5432/healthcare_iva
MONGO_URI= Add your MongoDB URI
MONGO_DB_NAME=healthcare_iva
LLM_MODEL=llama-3.3-70b-versatile
LLM_MAX_TOKENS=500
LLM_TEMPERATURE=0.7
INTENTS_FILE=data/intents.json
MODEL_DIR=models/intent_model
